.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4194.6px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -45px;
	margin-bottom: 62px;
}

#home
{
	margin-left: 458px;
	position: relative;
}

#u79
{
	z-index: 11;
	width: 306px;
	position: fixed;
	top: 4px;
	left: 0px;
}

#u74
{
	z-index: 13;
	width: 135px;
	position: fixed;
	top: 9px;
	left: 819px;
}

#u69
{
	z-index: 2;
	width: 1629px;
	position: fixed;
	top: 77px;
	left: -335px;
}

#u84-7
{
	z-index: 4;
	width: 960px;
	min-height: 93px;
	position: fixed;
	top: 114px;
	left: 0px;
}

#u84-2
{
	font-size: 50px;
	text-align: center;
	line-height: 60px;
	color: #104B85;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u84-4
{
	font-size: 34px;
	text-align: center;
	line-height: 41px;
	color: #104B85;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u97
{
	z-index: 242;
	width: 1629px;
	height: 66px;
	-pie-box-shadow: 4px 7px 8px #E8E8E8;
	-moz-box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 4px 7px 8px -1px rgba(0, 0, 0, 0.09);
	box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.09);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: 272px;
	left: -335px;
}

#u86
{
	z-index: 265;
	width: 1635px;
	position: fixed;
	top: 270px;
	left: -334px;
}

#pu91
{
	width: 0.01px;
	left: -335px;
	margin-top: 319px;
	position: relative;
}

#u91
{
	z-index: 15;
	width: 1629px;
	position: relative;
	margin-right: -10000px;
}

#u567-3
{
	z-index: 17;
	width: 960px;
	min-height: 281px;
	-pie-box-shadow: none;
	-moz-box-shadow: 2px 3px 16px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 3px 16px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 3px 16px rgba(0, 0, 0, 0.2);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 335px;
}

#u620
{
	z-index: 20;
	width: 1629px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-top: 12px;
	padding-bottom: 289px;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
}

#pu367-11
{
	width: 0.01px;
	margin-left: 403px;
	position: relative;
}

#u367-11
{
	z-index: 101;
	width: 545px;
	min-height: 242px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u368
{
	z-index: 112;
	width: 266px;
	position: relative;
	margin-right: -10000px;
	left: 559px;
}

#summary
{
	margin-left: 809px;
	margin-top: 42px;
	position: relative;
}

#u374-23
{
	z-index: 120;
	width: 837px;
	min-height: 265px;
	margin-left: 401px;
	margin-top: 109px;
	position: relative;
}

#u374-2
{
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	color: #F6B13C;
	font-weight: bold;
}

#u374-3,#u374-4
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #646464;
}

#u367-5,#u367-6,#u367-8,#u374-11,#u374-12,#u374-16,#u374-17,#u374-21
{
	font-size: 18px;
	text-align: justify;
	line-height: 22px;
	color: #646464;
}

#agenda
{
	margin-left: 792px;
	margin-top: 280px;
	position: relative;
}

#u451-4
{
	z-index: 97;
	width: 826px;
	min-height: 28px;
	line-height: 29px;
	color: #F6B13C;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-left: 401px;
	margin-top: 88px;
	position: relative;
}

#u423
{
	z-index: 159;
	width: 826px;
	border-style: none;
	border-color: transparent;
	background-color: #FEF3E2;
	padding-bottom: 46px;
	margin-left: 401px;
	margin-top: 29px;
	position: relative;
}

#u426-4
{
	z-index: 203;
	width: 124px;
	color: #646464;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 28px;
}

#u427-4
{
	z-index: 163;
	width: 124px;
	color: #646464;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
	margin-left: 429px;
	margin-top: 73px;
	position: relative;
}

#u424
{
	z-index: 162;
	width: 826px;
	border-style: none;
	border-color: transparent;
	background-color: #FEF3E2;
	padding-bottom: 41px;
	margin-left: 401px;
	margin-top: 73px;
	position: relative;
}

#u428-4
{
	z-index: 207;
	width: 124px;
	color: #646464;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 27px;
}

#u429-4
{
	z-index: 211;
	width: 124px;
	color: #646464;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
	margin-left: 429px;
	margin-top: 43px;
	position: relative;
}

#u438
{
	z-index: 161;
	width: 826px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #F6B13C;
	margin-left: 401px;
	margin-top: 41px;
	position: relative;
}

#speakers
{
	margin-left: 792px;
	margin-top: 35px;
	position: relative;
}

#u440
{
	z-index: 21;
	width: 861px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFAFA;
	margin-top: 35px;
	position: relative;
	padding: 10px 398px 36.30000000000018px 370px;
}

#u422-4
{
	z-index: 37;
	width: 826px;
	min-height: 28px;
	line-height: 29px;
	color: #F6B13C;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-left: 35px;
	position: relative;
}

#u383
{
	z-index: 72;
	width: 350px;
	left: -1px;
	margin-top: 36px;
	position: relative;
}

#u441-8
{
	z-index: 80;
	width: 200px;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	margin-left: 75px;
	margin-top: 29px;
	position: relative;
}

#u388
{
	z-index: 74;
	width: 350px;
	margin-left: 370px;
	margin-top: 53px;
	position: relative;
}

#u442-9
{
	z-index: 88;
	width: 228px;
	min-height: 72px;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	margin-left: 430px;
	margin-top: 34px;
	position: relative;
}

#u441-4,#u441-6,#u442-4,#u442-6,#u442-7
{
	color: #646464;
}

#u362-4
{
	z-index: 22;
	width: 826px;
	min-height: 80px;
	color: #104B85;
	font-size: 19px;
	line-height: 23px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 402px;
}

#u364
{
	z-index: 26;
	width: 375px;
	border-style: none;
	border-color: transparent;
	background-color: #104B85;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 620px;
}

#u364:hover
{
	background-color: #69ADDF;
	margin: 176px -10000px 0px 0px;
}

#u365-10
{
	z-index: 27;
	width: 375px;
	min-height: 80px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u382-31
{
	z-index: 41;
	width: 477px;
	min-height: 766px;
	color: #646464;
	font-size: 17px;
	line-height: 20px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 2357px;
	left: 750px;
}

#u373-6
{
	z-index: 114;
	width: 826px;
	min-height: 68px;
	color: #646464;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 696px;
	left: 401px;
}

#u367,#u367-3,#u373-2
{
	color: #F6B13C;
}

#u375
{
	z-index: 143;
	width: 1629px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1287px;
}

#u445
{
	z-index: 145;
	width: 335px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1340px;
	left: 917px;
}

#u444
{
	z-index: 146;
	width: 335px;
	border-style: none;
	border-color: transparent;
	background-color: #104B85;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u443-12
{
	z-index: 147;
	width: 326px;
	min-height: 120px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 4px;
}

#u365-4,#u365-6,#u365-8,#u443-4,#u443-6,#u443-8,#u443-10
{
	font-size: 19px;
	line-height: 23px;
}

#u437
{
	z-index: 160;
	width: 826px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #F6B13C;
	position: relative;
	margin-right: -10000px;
	margin-top: 1700px;
	left: 401px;
}

#u381-36
{
	z-index: 167;
	width: 612px;
	min-height: 288px;
	line-height: 23px;
	color: #646464;
	font-size: 19px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 1726px;
	left: 615px;
}

#u374-6,#u374-14,#u374-19,#u441-2,#u442-2,#u381-14,#u381-19
{
	color: #F6B13C;
	font-weight: bold;
}

#u374-5,#u374-7,#u374-9,#u382,#u382-16,#u381-2,#u381-9,#u381-15,#u381-25,#u381-32
{
	font-weight: bold;
}

#pu357
{
	width: 0.01px;
	padding-bottom: 47px;
	margin-left: 10px;
	top: -3664px;
	margin-bottom: -47px;
	position: relative;
}

#u357
{
	z-index: 263;
	width: 135px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 298px;
	left: 10px;
}

.js #u357.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u349-4
{
	z-index: 243;
	width: 51px;
	min-height: 19px;
	background-color: transparent;
	color: #104B85;
	line-height: 19px;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 296px;
	left: 234px;
}

#u349-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u350-4
{
	z-index: 247;
	width: 74px;
	min-height: 15px;
	color: #104B85;
	line-height: 19px;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 296px;
	left: 321px;
}

#u351-4
{
	z-index: 251;
	width: 62px;
	min-height: 15px;
	color: #104B85;
	line-height: 19px;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 296px;
	left: 431px;
}

#u352-4
{
	z-index: 255;
	width: 74px;
	min-height: 11px;
	color: #104B85;
	line-height: 19px;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 296px;
	left: 536px;
}

#u356-4
{
	z-index: 259;
	width: 130px;
	min-height: 14px;
	color: #104B85;
	line-height: 19px;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 296px;
	left: 641px;
}

#pu425
{
	width: 0.01px;
	left: -335px;
	position: relative;
}

#u425
{
	z-index: 215;
	width: 1629px;
	position: relative;
	margin-right: -10000px;
}

#u393
{
	z-index: 216;
	width: 1629px;
	position: relative;
	margin-right: -10000px;
}

#u396-4
{
	z-index: 218;
	width: 960px;
	min-height: 29px;
	line-height: 29px;
	color: #0071BC;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 74px;
}

#u397
{
	z-index: 222;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 434px;
}

#u402
{
	z-index: 224;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 521px;
}

#u407
{
	z-index: 226;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 609px;
}

#u447
{
	z-index: 228;
	width: 359px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 864px;
}

#u448
{
	z-index: 229;
	width: 359px;
	border-style: none;
	border-color: transparent;
	background-color: #104B85;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u444:hover,#u448:hover
{
	background-color: #69ADDF;
	margin: 0px -10000px 0px 0px;
}

#u449-12
{
	z-index: 230;
	width: 347px;
	min-height: 120px;
	color: #FFFFFF;
	font-size: 19px;
	line-height: 23px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 5px;
}

#u449-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u365-2,#u443-2,#u449
{
	font-size: 23px;
	line-height: 28px;
	font-weight: bold;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

